// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.nav-link:hover {
    text-decoration: underline;
}

.jumbotron {
    background-image: url("../img/pirate-photos/pirate-ship.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1, p {
        color: white;
        font-family: 'Indie Flower', cursive;
        text-align: center;
    }
}

.container {
    column-rule: 1px solid black;
}

.col-sm-4 {
    p {
        margin: 0;
    }

    #one{
        font: bold 15px Arial, sans-serif;
    }
    #two{
        font: italic 15px Georgia, 'Times New Roman';
    }
    
}

.col-sm-8 {
    h2 {
        font-family: 'Indie Flower', cursive;
    }

}


// Import partials here
@import "footer"